#Q1 - Say "Hello, World!" With Python

In [ ]:
print("Hello, World!")

Hello, World!

# Q2- Python if-else

In [ ]:
#!/bin/python3

import math
import os
import random
import re
import sys


if __name__ == '__main__':
    n = int(input().strip())

    if (n % 2 != 0):
        print("Weird")

    elif (n % 2 ==0) and (2 <= n <= 5):
        print("Not Weird")

    elif (n % 2 ==0) and (6 <= n <= 20):
        print("Weird")

    elif (n % 2 ==0) and (n > 20):
        print("Not Weird")

24
Not Weird

# Q3- Arithmetic Operators

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())

    print(a+b)
    print(a-b)
    print(a*b)

4
3
7
1
12

#Q4 - Python Division

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a//b)
    print(a/b)

3
5
0
0.6

# Q5- loops

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i**2)

8
0
1
4
9
16
25
36
49

# Q6- Wite a function

In [ ]:
def is_leap(year):
    leap = False

    # Write your logic here

    if year % 4 != 0:
        leap = leap

    else:
        if year % 100 !=0:
            leap = not leap

        else:
            if year % 400 !=0:
                leap = leap

            else:
                leap = not leap

    return leap

year = int(input())
print(is_leap(year))

2400
True

# Q7 -  Print Function

In [3]:
if __name__ == '__main__':
    n = int(input())

    for i in range(1, n + 1):
        print(f"{i}", end="")

5
12345